@import '../styles/index.scss';

.main{

    background-image: url('../assets/background_1.png');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    width: 100%;
    .buttonComponent{
        position: absolute;
        right: 25%;
    }

    box-shadow: 0 0 15px 15px black inset;

}

