.footer{
    background-color: #000;
    padding: 2rem 0;
    p{
        color: #fff;
    }
}
.center{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    p{
        padding: 0rem 8rem;
    }
}